html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

primary: hsl(133, 30%, 41%)
accent: hsl(353, 45%, 37%)
